/* .swiper-button-next{
  color: var(--shop-color-main);
  transition: all 0.5s ease;
  background: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.swiper-button-prev{
  color: var(--shop-color-main);
  transition: all 0.5s ease;
  background: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.swiper-button-prev:after,.swiper-button-next:after {
  font-size: 22px;
}

.swiper-pagination-bullet-active{
  background-color: black;
} */